{% load static from staticfiles %}

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Temperature logger</title>
    <!-- <link rel="stylesheet" href="{% static 'styles.css' %}"> -->
    <link href="static/bootstrap.min.css" rel="stylesheet" media="screen">
  </head>
  <body>
    <h1><a href = "{% url 'homeV' %}"><img src = "{% static 'ptt.png' %}"/></a></h1>
    <nav>
      <ul>
        <li>
          <form class="logout-link" action="{% url 'accounts:logout' %}" method="post">
            {% csrf_token %}
            <button type="submit">Logout</button>
          </form>
        </li>
      </ul>
    </nav>
    <h2>Data monitor PTT I+D</h2>
    <a href="{% url 'tlog:dataLog' %}">loggs</a>
    <a href="{% url 'articles:list' %}">articles</a>
      <div class "wrapper">
        {% block content %}
        {% endblock %}
      </div>
    </body>
</html>
