body{
    background-color: #0f121f;
    color: #fff;
}

h1 {
    color:white;
    text-align: center;
}

h2 {
    color:black;
    text-align: center;
    background-color: white;
}


form {
    text-align: center;
    background-color: white;
    color:black;
}

table, td, th {
    border: 1px solid black;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    /* color: white; */
}

tr:nth-child(even) {
    /* background-color: #dddddd; */
    background-color: gray;
    color: black;
}

tr:nth-child(odd) {
    color: black;
    background-color: white;
}
